<p id="notice"><%= notice %></p>

<%= form_with url: bulk_create_contacts_path, method: :patch do |f| %>
  <%= f.file_field :contacts_csv_file %>
  <%= f.submit "Upload" %>
<% end %>

<h1>Contacts</h1>

<%= render_contacts_for_react(@contacts) %>
